.resultDecoration {
    position: absolute;
    right: 10px;
    top: 5px;
    background-color: lightgrey;
    width: 150px;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 9;
}

.resultDecoration:hover {
    height: calc(100% - 10px);
    width: 150px;
    overflow-x: visible;
}

.resultRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.resultRow.alignRight {
    justify-content: flex-end;
}


.resultText {
    font-size: 14px;
    font-weight: bold;
}

.resultPosition {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid 2px grey;
}

.resultSpacer {
    width: 15px;
    height: 10px;
}