.miniToggleButton {
    border: 0;
    background-color: #aa6666;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
}

.miniToggleContainer {
    position: absolute;
    right: 0;
    bottom: 20px;
    z-index: 999999999999;
    display: flex;
    width: 50px;
    height: 40px;
    justify-content: center;
}