.setting {
    padding: 1px 5px;
}

.settingSpacer {
    padding: 5px;
    width: 5px;
}

.settingPanel {
    font-size: 14px;
}

.miniToggleContainer {
    height: 24px;
}

.panel {
    height: calc(100vh - 145px);
    overflow-y: auto;
}